/*hier komt al de main css*/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 30px;
    line-height: 30px;
    color: #ce163b;
    margin-bottom: 20px;

    font-weight: normal;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
}

p {
    color: white;
    margin: 20px 0;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
}

h2 {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

    font-size: 23px;
    line-height: 23px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
}

li {
    text-decoration: none;
}

.btnLarge {
    position: relative;
    top: 0;
    right: 0;

    width: 200px;
    background: #000;
    color: #fff;
    font-size: 16px;

    text-align: center;
    padding: 5px 20px;
    display: inline-block;
    border: 0;
    outline: 0;
    height: 55px;
    line-height: normal;

    text-decoration: none;
}

.btnLarge:hover {
    border: 3px solid black;
    color: black;
    background-color: white;
}

/*css menu  + header*/

#menu {
    text-decoration: none;
    list-style-type: none;
}

#logo {
    float: left;
    margin: 10px 0;
}

#header {
    background-color: #cd163a;
    height: 170px;
    margin-bottom: 1%;
}

#menu li {
    float: left;
    margin-left: 16%;
    text-decoration: none;

    margin-top: 5%;
}

#menu li a {
    font-size: larger;
    text-decoration: none;
    color: white;
}

#menu li a:hover {
    /*text-decoration: underline;*/
    text-decoration-color: black;
    color: black;

}

#wrapperMenu {
    margin-left: 27%;
}

/*css home pagina*/
#contentLanding {
    margin-top: 4%;

}

#contentLanding h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2%;
    margin-left: 2%;
}

#contentLanding p {
    margin-top: 3%;
    margin-bottom: 2%;

}

#home {
    background-image: url("../images/bg.png");
    background-size: cover;
    height: 600px;
}

#call {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 20px 12px;
    font-weight: normal;
    background-color: #ce163b;
    margin: 2% 0 0 4%;

}

#call:hover {
    border: 5px solid #ce163b;
    color: #ce163b;
    font-weight: normal;
    padding: 16px 4px;
    background-color: white;

}

#jupiler {
    line-height: 30px;
    color: #ce163b;
    font-weight: bold;
}

#lijst {
    background-color: #ce163b;
    height: 450px;
}

#lijstWinnaars {
    float: left;
    margin-top: 2%;
}

#calltoAction {
    margin-left: 8%;
    margin-top: 4%;
}

/*css van registreer pagina*/
.panel-heading {
    background-color: black !important;
    color: white !important;
}
